---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Laina - DeFi made simple." pathname="index">
  <main>
    <div>
      <h1>Landing page</h1>
      <p>Coming soon!</p>
    </div>
  </main>
</Layout>
