---
import ConnectFreighter from '../components/ConnectFreighter.astro';
import { LendableAssetCard } from '../components/LendableAssetCard.tsx';
import Loan_pool from '../components/lending.astro';
import StellarIcon from '../images/Stellar_Symbol.png';
import USDCIcon from '../images/usdc.svg';
import Layout from '../layouts/Layout.astro';

const currencies = [
  {
    name: 'USD Coin',
    symbol: 'USDC',
    icon: USDCIcon.src,
  },
  {
    name: 'Stellar Lumen',
    symbol: 'XLM',
    icon: StellarIcon.src,
  },
];
---

<Layout title="Laina – Lending" pathname="lend">
  <ConnectFreighter />
  <h1 class="text-3xl font-bold mb-8">Lend Assets</h1>
  {currencies.map(({ name, symbol, icon }) => <LendableAssetCard name={name} symbol={symbol} icon={icon} />)}
</Layout>
