---
import ConnectFreighter from '../components/ConnectFreighter.astro';
import Loan_pool from '../components/lending.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Laina – Lending" pathname="lend">
  <ConnectFreighter />
  <h1 class="text-5xl font-bold mb-8">Lend Assets</h1>

  <Loan_pool />
</Layout>
