---
import Layout from '../layouts/Layout.astro';
---

<script is:inline>
  var global = global || window;
</script>
<Layout title={'Laina - DeFi made simple.'}>
  <main>
    <div>
      <h1>Liquidate page</h1>

      <p>Coming soon!</p>
    </div>
  </main>
</Layout>
