---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Laina – DeFi made simple">
  <main>
    <div>
      <h1>Liquidate page</h1>

      <p>Coming soon!</p>
    </div>
  </main>
</Layout>
